body {
  margin: 0;
  font-family: Georgia, serif;
  background-color: #f5f0e6;
  color: #222;
}

/* Header */

header {
  background: linear-gradient(to right, #8b0000, #b22222);
  color: white;
  text-align: center;
  padding: 20px;
}

.logo {
  width: 220px;
  max-width: 90%;
  display: block;
  margin: 0 auto 15px;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 0 15px rgba (255, 255, 255, 0.4);
}

header h1 {
  margin: 10px 0;
  font-size: 2.2rem;
}

header p {
  margin-bottom: 15px;
}

/* Navigation */

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Content */

main {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.card {
  background: white;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.card h2 {
  color: #8b0000;
}

/* Button */

.button {
  display: inline-block;
  background: #8b0000;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
}

.button:hover {
  background: #a00000;
}

/* Footer */

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}
/* Sticky Navigation */

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Watermark */

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("logo.png.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
  opacity: 0.04;
  pointer-events: none;
  z-index: -1;
}

/* Gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.gallery img {
  width: 250px;
  border-radius: 15px;
}

/* WhatsApp Button */

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;

  background: #25d366;
  color: white;

  text-decoration: none;
  padding: 15px 20px;

  border-radius: 50px;
  font-weight: bold;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Form Styling */

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
